body {
	background: url("background-01.png");
	background-repeat: repeat;
	background-size: auto auto;
	text-align:center;
	font-family: "omnes-pro", Helvetica, Arial, sans-serif;
}
body > * {
	width: 80%;
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
}
body > header {
	height: 150px;
	background: url("logotopwhite.svg");
	background-size: 220px 100px;
	background-repeat: no-repeat;
	background-position: right top;
}
body > header h1,
body > header h2 {
	display:none;
}
body > header p {
	text-align: left;
	padding-top: .5em;
	margin-right: 230px;
}
body > header p a {
	color: white;
	text-decoration: none;
}
#builder {
	text-align: left;
}
#builder p {
	color: white;
	font-size: 110px;
	font-family: "omnes-pro", sans-serif;
	font-weight: 600;
	text-align: left;
	margin-top: .5em;
}

#builder input {
	width: 100%;
	height: 2em;
	border: 8px solid white;
	border-radius: 20px;
	margin-top: 50px;
	margin-left: 0px;
	font-size: 35px;
	font-family: "omnes-pro", sans-serif;
	font-weight: 300;
	text-align: center;
	background-color: transparent;
	color: white;
}
#builder input.blur {
	font-weight: 300;
	letter-spacing: 1px;
}

#builder ul {
	display: block;
	margin-top: 80px;
}
#builder li {
	width: 200px;
	display: inline-block;
	list-style-type: none;
	margin-bottom: 30px;
	margin-right: 80px; /* target for jsutified */
}
#builder ul li:last-child {
	margin-right: 0;
}
#builder article {
	width: 200px;
	height: 170px;
	border: 10px solid white;
	border-radius: 30px;
}

#builder article header {
	display:none;
}
#builder article nav {
	background-color: white;
	height: 50px;
	margin-top:-5px;
	margin-left:0px;
	margin-right:0px;
	border-radius: 10px;
}
#builder article nav button {
	color: transparent;
	background-color: transparent;
	border: 0px;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	width:40px;
	height:40px;
	margin-top: 0px;
	margin-bottom: -5px;
}	
#builder article nav .eyesOn {
	margin-left:20px;
	background-image: url("eye3.svg");
}
#builder article nav .delete {
	margin-left:80px;
	background-image: url("delete4.svg");
}
#builder article aside {
	margin-left: 0px;
	margin-top: -10px;
	margin-bottom: 0px;
	border: 1px black;
	border-top: 0px;	
	border-radius: 19px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-color:transparent;
	width: 200px;
	height: 135px;
	background-color:white;
}

#viewer {
	height: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: 50px;
	clear: both;
}
#viewer iframe {
	height: 100%;
	width: 100%;
	border: 10px solid white;
	border-radius: 20px;
	display: none;
}
body > footer {
  clear: both;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 3em;
	padding-bottom: 3em;
	color: black;
	text-align: center;
	font-size: 14px;
	background: rgba(200,200,200,.6);
	max-width: none;
}
body > footer p {
	margin-bottom: 5px;
	letter-spacing: 1px;
}
body > footer p a {
	text-decoration:none;
	color:black;
}
html {
	height: 100%;
}
body {
	height: 100%;
}	