!!! 5
%html
  %head
    %title Digital Harbor
    =stylesheet_link_tag    "/reset"
    %script{:src=>"http://use.typekit.com/yua2vns.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:src=>"/jquery-1.7.min.js"}
    %script{:src=>"/jquery.hint.js"}
    %script{:src=>"/jquery.fittext.js"}
    =stylesheet_link_tag    "/bridge"
    %script{:src=>"/application.js"}
    =csrf_meta_tags
%body
  %header
    %h1 Digital Harbor
    -if @current_user
      %p= link_to "Logout", logout_path
  %section#content  
    =yield
